
<div class="container text-center">
    <h1 class="center-text">Personajes de Rick and Morty</h1>
</div>
<div  class="container text-center">
    <div class="row" >
        <div class="col-3" *ngFor="let item of personajes">
            <div class="card mx-1" style="width: 18rem;">
                <img src="{{item.image}}" class="card-img-top" alt="{{item.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <!-- <p class="card-text">Estado:{{ item.status}}</p>
                  <p class="card-text">Especie:{{ item.specie}}</p>
                  <p class="card-text">Tipo:{{ item.type}}</p>
                  <p class="card-text">Genero:{{ item.gender}}</p>-->
                  <a class="btn btn-primary" [routerLink]="['/personaje',item.id]">Ver detalles</a> 
                </div>
            </div>
        </div>
    </div>
</div>